<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1998 - Il fenomeno</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link "1988 - In fenomeno", to: "/", method: :get, class: "navbar-brand" %>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><%= link "Mappa", to: "/map", method: :get %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= if logged_in?(@conn) do %>
              <li><p class="navbar-text">Signed in as <%= current_user(@conn).user %></p></li>
              <li><%= link "Esci", to: "/logout", method: :delete %></li>
            <% else %>
              <li><%= link "Accedi", to: "/login" %></li>
            <% end %>
          </ul>
        </div>
      </nav>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
